/*            */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*            */
body {
  padding: 50px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.header {
  background: url("..//..//img/header/BG-Header.png") center no-repeat;
}
.header__title h1 {
  color: #EC8B18;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  padding: 40px;
}
.header__title h1 span {
  display: inline-block;
  border: 3px solid #9D5807;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 8px 6px 5px #4D2B04;
  transition-duration: 0.9s;
}
.header__title h1 span:hover {
  background-color: #A76A25;
  box-shadow: 8px 6px 9px #EA7233;
  transition-duration: 0.5s;
}
.header__content p {
  color: #A79925;
  text-align: center;
  font-size: 30px;
  padding: 0 0 40px;
  transition-duration: 0.3s;
  letter-spacing: 5px;
}
.header__content p:hover {
  color: #A76A25;
  transition-duration: 0.4s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}

.content__column {
  padding: 100px;
  background-color: #EEDDD4;
  display: flex;
  flex-direction: column;
}
.content__row {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
}

.row__img {
  background-color: #EEDDD4;
  flex: 0 0 600px;
  border-radius: 40px;
  overflow: hidden;
}
.row__img img {
  max-width: 0%;
  min-height: 400px;
  transition-duration: 1s;
}
.row__img:hover img {
  max-width: 100%;
  transition-duration: 1s;
}
.row__content {
  padding: 50px 20px 0;
}
.row__title {
  color: #EC8B18;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 0 0 30px 0;
}
.row__title p {
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid #E49642;
  box-shadow: 2px 2px 2px #A49687;
  transition-duration: 0.5s;
}
.row__title p a {
  color: #EC8B18;
}
.row__title p:hover {
  background-color: #E49642;
  transition-duration: 0.5s;
}
.row__title p:hover a {
  color: #EEDDD4;
}
.row__title p:active {
  background-color: #F55A3B;
  box-shadow: 2px 0px 2px #A49687;
  margin: 2px 0 0 -2px;
  transition-duration: 0.2s;
}
.row__title p:active a {
  color: #EEDDD4;
}
.row__text {
  color: #EC8B18;
  text-align: center;
  font-size: 30px;
}

.footer {
  background-color: #F0D3B3;
}
.footer__content p {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  padding: 20px 0;
  color: #A49687;
}