@import 'nullStyle.scss';

body {
	padding: 50px;
}




.wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}
.header {

	background: url('..//..//img/header/BG-Header.png') center no-repeat;
	&__title {

	
		& h1{
			color: #EC8B18;
			text-align: center;
			font-size: 50px;
			text-transform: uppercase;
			padding: 40px;
			& span{
				display: inline-block;
				border: 3px solid #9D5807;
				padding: 15px;
				border-radius: 20px;
				box-shadow: 8px 6px 5px #4D2B04;
				transition-duration:0.9s;

			}
			& span:hover{
				background-color: #A76A25;
				box-shadow: 8px 6px 9px #EA7233;
				transition-duration:0.5s;
			}
		}
	}
	&__content {
		& p{
			color: #A79925;
			text-align: center;
			font-size: 30px;
			padding: 0 0 40px;
			transition-duration:0.3s;
			letter-spacing: 5px;
		}
		& p:hover{
			color: #A76A25;

		//	text-shadow: 1px 1px 2px #EA7233;
			transition-duration:0.4s;
		}
	}
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}




.content {
	flex: 1 1 auto;

}

.content {
	&__column {
		padding: 100px;
		background-color: #EEDDD4;
		display: flex;
		flex-direction: column;

	}
	&__row {
		padding: 20px 0;
		display: flex;
		flex-direction: row;
	}
	@media (max-width: 1100px){
		&__row{
			flex-wrap:wrap;
		}
	}
}


@media (max-width: 1100px){
	.container{
		max-width: 870px;
	}
}

@media (max-width: 870px){
	.container{
		max-width: none;
	}
}
.row {

	&__img {
		background-color: #EEDDD4;
//		border: 1px solid #000;
		flex: 0 0 600px;
		border-radius: 40px;
		overflow: hidden;
		
		& img{
			max-width: 0;
			min-height: 400px;
			transition-duration:1s;
		}
	}
	@media (max-width: 870px){
		&__img{
			flex: 1 1 400px;
			& img{
				max-width: 100%;
				min-height: none;
			}
		}
	}

	&__img:hover{
		& img{
			max-width: 100%;
			transition-duration:1s;
		}
	}
	&__content {
		padding: 50px 20px 0;
	}
	&__title {
	//	border: 1px solid #000;
		color: #EC8B18;
		text-align: center;
		font-size: 40px;
		text-transform: uppercase;
		letter-spacing: 6px;
		padding: 0 0 30px 0;
		& p{
			padding: 10px;
			border-radius: 10px;
			display: inline-block;
			border: 2px solid #E49642;
			box-shadow: 2px 2px 2px #A49687;
			transition-duration:0.5s;
			& a{
				color: #EC8B18;
			}
		}
		& p:hover{
			background-color: #E49642;
			transition-duration:0.5s;
			& a{
				color: #EEDDD4;
			}
			
		}
		& p:active{
			background-color: #F55A3B;
			box-shadow: 2px 0px 2px #A49687;
			margin: 2px 0 0 -2px;
			transition-duration:0.2s;
			& a{
				color: #EEDDD4;
			}
			
		}
	}
	&__text {
		color: #EC8B18;
		text-align: center;
		font-size: 30px;
	}
}


.footer {
//	margin: 100px;
	background-color: #F0D3B3;
	&__content {
		& p{
			text-align: center;
			font-size: 50px;
			text-transform: uppercase;
			padding: 20px 0;
			color: #A49687;
		}
	}
}
